<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{{user}}<br>

<!--search-->
<input placeholder="Search.." type="text">

<!--filters-->
<label for="animalType">Choose a car:</label>

<select id="animalType" name="animalType">
    <option value="cat">Cat</option>
    <option value="dog">Dog</option>
</select>
<br>

<a href="../adminzone/">Admin Home</a>
<a href="viewRequest">Requests</a>
<a href="viewQuestions">Questions</a>
<a href="viewAnimalList">AnimalList</a>
<a href="about_us">AboutUs</a>
<a href="support">Support</a>
<a href="location">location</a>

<br>

<a href="addPets">Add a Pet</a>
<a href="modifyPets/1">Modify</a>
<a href="deletePets/1">Delete</a>


{% for animal in all_animals %}
<div>
    <p>
        <img src='/../media/{{animal.p_animalpic}}'>
        <!--            <img src = '{{media}}/{{animal.animalpic}}-->
        {{animal.p_name}}
        {{animal.p_location}}
        {{animal.p_age}}

        <a href="animalInfo/{{animal.id}}">View</a>


    </p>
</div>
{% endfor %}
</body>
</html>